<%@middletomtoms.each do |middletomtom| %>
<h1><%=middletomtom.name %></h1>
<h3><%= image_tag middletomtom.imageURL %></h3>
<h3><%=middletomtom.brand %></h3>
<h3><%=middletomtom.description %></h3>
<h3><%=middletomtom.usedby %></h3>
<br></br>
<%end%>