<h1>Listing floortomtoms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Imageurl</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Usedby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floortomtoms.each do |floortomtom| %>
      <tr>
        <td><%= floortomtom.name %></td>
        <td><%= floortomtom.imageURL %></td>
        <td><%= floortomtom.brand %></td>
        <td><%= floortomtom.description %></td>
        <td><%= floortomtom.usedby %></td>
        <td><%= link_to 'Show', floortomtom %></td>
        <td><%= link_to 'Edit', edit_floortomtom_path(floortomtom) %></td>
        <td><%= link_to 'Destroy', floortomtom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floortomtom', new_floortomtom_path %>
