<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hightomtom.name %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @hightomtom.imageURL %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @hightomtom.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hightomtom.description %>
</p>

<p>
  <strong>Usedby:</strong>
  <%= @hightomtom.usedby %>
</p>

<%= link_to 'Edit', edit_hightomtom_path(@hightomtom) %> |
<%= link_to 'Back', hightomtoms_path %>
