<h1>Listing crashes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Imageurl</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Usedby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crashes.each do |crash| %>
      <tr>
        <td><%= crash.name %></td>
        <td><%= crash.imageURL %></td>
        <td><%= crash.brand %></td>
        <td><%= crash.description %></td>
        <td><%= crash.usedby %></td>
        <td><%= link_to 'Show', crash %></td>
        <td><%= link_to 'Edit', edit_crash_path(crash) %></td>
        <td><%= link_to 'Destroy', crash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crash', new_crash_path %>
