<%= form_for(@middletomtom) do |f| %>
  <% if @middletomtom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@middletomtom.errors.count, "error") %> prohibited this middletomtom from being saved:</h2>

      <ul>
      <% @middletomtom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :imageURL %><br>
    <%= f.text_field :imageURL %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :usedby %><br>
    <%= f.text_field :usedby %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
