<%= form_for(@person1) do |f| %>
  <% if @person1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person1.errors.count, "error") %> prohibited this person1 from being saved:</h2>

      <ul>
      <% @person1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snaredrum_carts %><br>
    <%= f.text_field :snaredrum_carts %>
  </div>
  <div class="field">
    <%= f.label :bassdrum_carts %><br>
    <%= f.text_field :bassdrum_carts %>
  </div>
  <div class="field">
    <%= f.label :hightomtom_carts %><br>
    <%= f.text_field :hightomtom_carts %>
  </div>
  <div class="field">
    <%= f.label :floortomtom_carts %><br>
    <%= f.text_field :floortomtom_carts %>
  </div>
  <div class="field">
    <%= f.label :hihat_carts %><br>
    <%= f.text_field :hihat_carts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
