<p id="notice"><%= notice %></p>

<p>
  <strong>Snaredrum carts:</strong>
  <%= @person1.snaredrum_carts %>
</p>

<p>
  <strong>Bassdrum carts:</strong>
  <%= @person1.bassdrum_carts %>
</p>

<p>
  <strong>Hightomtom carts:</strong>
  <%= @person1.hightomtom_carts %>
</p>

<p>
  <strong>Floortomtom carts:</strong>
  <%= @person1.floortomtom_carts %>
</p>

<p>
  <strong>Hihat carts:</strong>
  <%= @person1.hihat_carts %>
</p>

<%= link_to 'Edit', edit_person1_path(@person1) %> |
<%= link_to 'Back', person1s_path %>
